node_modules
.next
.env
.env.local
.env.development
.env.production
*.log
.DS_Store
.eslintcache
--esling
dist
out
.vscode/
.idea/
.dev/IMPRESSORA-IMENU
/Backup.rar

# Sentry Config File
.env.sentry-build-plugin
.vercel
.env*.local
